html,
body {
     height: 100%;
     scroll-behavior: smooth;
}

body {
     background-color: bisque;

}


.first {
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
     height: 700px;
}


.selectionbox {
     position: fixed;
     top: 10px;
     right: 50px;
     z-index: 999;
}


#page {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 700px;
     overflow: hidden;
     background-color: bisque;
}

#page b {
     font-family: serif;
     font-size: 140px;
     color: rgb(154, 128, 24);
     z-index: 10;
}

/* แอนิเมชันเหรียญตก */
@keyframes fall {
     0% {
          transform: translateY(-100px) rotate(0deg);

          opacity: 1;
     }

     100% {
          transform: translateY(800px) rotate(180deg);
          opacity: 0.5;
     }

}

.coin {
     position: absolute;
     top: -120px;
     width: 100px;
     opacity: 1.8;
     animation: fall linear infinite;
}

/* กระจายเหรียญให้ทั่วจอ */
.coin1 {
     left: 10%;
     animation-duration: 6s;
     animation-delay: 0s;
     transform-origin: 50% 50%;
}

.coin2 {
     left: 25%;
     animation-duration: 7s;
     animation-delay: 1s;
     transform-origin: 30% 70%;
}

.coin3 {
     left: 40%;
     animation-duration: 5.5s;
     animation-delay: 2s;
     transform-origin: 70% 30%;
}

.coin4 {
     left: 60%;
     animation-duration: 6.5s;
     animation-delay: 3s;
     transform-origin: 20% 20%;
}

.coin5 {
     left: 75%;
     animation-duration: 8s;
     animation-delay: 1.5s;
     transform-origin: 80% 80%;
}

.coin6 {
     left: 90%;
     animation-duration: 5s;
     animation-delay: 2.5s;
     transform-origin: 60% 40%;
}


.menu {
     background: rgba(255, 248, 220, 0.4);
     backdrop-filter: blur(10px);
     padding: 5px 15px;
     border-radius: 50px;
     box-shadow: 0 4px 15px rgba(154, 128, 24, 0.3);
}

.menu a {
     border: 3px solid rgb(154, 128, 24);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     display: inline-block;
     background-color: #8B4513;
     color: lemonchiffon;
     text-decoration: none;
     padding: 10px 20px;
     border-radius: 30px;
     margin: 7px;
     font-weight: bold;
     transition: 0.3s;
}

@keyframes gradientMove {
     0% {
          background-position: 0% 50%;
     }

     100% {
          background-position: 100% 50%;
     }
}

.menu a:hover {
     background: linear-gradient(90deg, #8e6a0e, #f8ed8e, #8B4513);
     background-size: 200% 200%;
     animation: gradientMove 1s linear forwards;
     transform: scale(1.1);
     color: #663300;
}

.abstract {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 10px;
     padding: 50px;
     margin: 50px auto;
     max-width: 1100px;
     background: linear-gradient(135deg, #fce7c3, #fcedcd);
     border-radius: 40px;
     border: 3px solid rgb(154, 128, 24);
     box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3),
          inset 0 3px 10px rgba(255, 255, 255, 0.6);
     transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.abstract:hover {
     transform: translateY(-5px);
     box-shadow: 0 15px 30px rgba(116, 102, 102, 0.35),
          inset 0 3px 10px rgba(255, 255, 255, 0.7);
}

.abstract h2 {
     text-align: center;
     font-family: serif;
     font-size: 20px;
     color: rgb(16, 14, 14);
     margin-bottom: 20px;
}

.abstract p {
     font-family: serif;
     text-align: left;
     font-size: 20px;
     color: rgb(43, 39, 39);
     line-height: 1.6;
}

#picture {
     flex: 1;
     text-align: center;
}

#picture img {
     max-width: 500px;
     height: auto;
     border-radius: 60px;
}

#explane {
     flex: 1;
     font-family: serif;
     font-size: 18px;
     color: white;
     text-align: justify;
}

.feature {
     display: grid;
     justify-content: center;
     align-items: center;
}


.feature2 {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px 50px;
     gap: 40px;
     min-height: 700px;
}


#seefeature button {
     width: 250px;
     padding: 15px;
     margin: 20px 15px;
     border-radius: 15px;
     border: 2px solid white;
     background-color: #8B4513;
     color: white;
     font-weight: bold;
     cursor: pointer;
     transition: 0.2s;
     font-size: 20px;
}

@keyframes gradientMove {
     0% {
          background-position: 0% 50%;
     }

     100% {
          background-position: 100% 50%;
     }
}


#seefeature button:hover {
     background: linear-gradient(90deg, #8e6a0e, #f8ed8e, #8B4513);
     background-size: 200% 200%;
     animation: gradientMove 1s linear forwards;
     transform: scale(1.1);
     color: #663300;
}


#seetime {
     flex: 1;
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 10px;
     border-radius: 50px;
     padding: 20px;
}


#seetime h1 {
     font-size: 36px;
     margin: 10px;
}


#seetime h2 {
     font-family: serif;
     font-size: 100px;
     color: #1d1a18;
     margin: 10px;
}

.showmaterial {
     background: linear-gradient(120deg, #996666, #8B4513, #edd058, #fafaa7);
     min-height: 700px;
}

#huakor h2 {
     font-family: serif;
     color: #ffffff;
     margin-left: 20px;
     font-size: 40px;
}


#material1,
#material2 {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
     margin: 10px 0;
}


#material1 div,
#material2 div {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 5px;
}


#material1 img,
#material2 img {
     width: 200px;
     height: 200px;
     object-fit: cover;
     border: 3px solid white;
     border-radius: 15px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#material1 img:hover {
     transform: scale(1.08);
     box-shadow: 0 10px 25px rgba(242, 207, 68, 0.7);
}

#material2 img:hover {
     transform: scale(1.08);
     box-shadow: 0 10px 25px rgba(242, 207, 68, 0.7);
}

#material1 p,
#material2 p {
     font-family: serif;
     color: #ffffff;
     font-size: 20px;
}


#poster h1 {
     width: 150px;
     padding: 15px;
     margin: 20px 15px;
     border-radius: 50px;
     border: 2px solid rgb(214, 203, 60);
     background-color: #8B4513;
     color: white;
     font-weight: bold;
     cursor: pointer;
     transition: 0.1s;
     font-size: 25px;
}


#poster h1:hover {
     background: linear-gradient(90deg, #8e6a0e, #f8ed8e, #8B4513);
     background-size: 200% 200%;
     animation: gradientMove 1s linear forwards;
     transform: scale(1.1);
     color: #663300;
}

.member {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px 50px;
     gap: 40px;
     min-height: 700px;
     background-color: #fce7c3;
}

#namemem {
     font-family: serif;
     color: #663300;
     font-size: 52px;
     flex: 1;
     text-align: left;
}

#mem2 {
     display: flex;
     justify-content: flex-start;
}


#mem2 div {
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: rgba(255, 255, 255, 0.1);
     padding: 10px;
     border-radius: 15px;
}

#mem2 {
     display: flex;
     gap: 10px;
     flex-wrap: nowrap;
     justify-content: flex-start;
}

#mem2 img {
     width: 140px;
     height: 180px;
     border-radius: 30px;
}

#mem2 img:hover {
     transform: scale(1.08);
     box-shadow: 0 10px 25px rgba(242, 207, 68, 0.7);
}

footer {
     background: linear-gradient(90deg, #f07f2e, #b8860b, #8B4513);
     color: #fff8dc;
     text-align: center;
     padding: 5px 0;
     bottom: 0;
     left: 0;
     width: 100%;
     font-family: sans-serif;
     font-size: 10px;
     opacity: 0.9;
     font-weight: bold;
     text-shadow: 1px 1px 3px #000;
     letter-spacing: 1px;
}



@media (max-width: 992px) {
     #page b {
          font-size: 80px;
     }

     .abstract,
     .feature2,
     .member {
          flex-direction: column;
          text-align: center;
     }

     #picture img {
          max-width: 300px;
     }

     #seefeature button {
          width: 200px;
          font-size: 24px;
     }

     #seetime h2 {
          font-size: 70px;
     }

     #mem2 {
          flex-wrap: wrap;
          justify-content: center;
     }

     #mem2 img {
          width: 120px;
          height: 160px;
     }
}

@media (max-width: 600px) {

     .selectionbox {
          position: static;
          text-align: center;
          margin-bottom: 10px;
     }

     .menu a {
          display: block;
          margin: 10px auto;
          width: 80%;
     }

     #page b {
          font-size: 60px;
          text-align: center;
     }

     .abstract,
     .feature2,
     .member {
          flex-direction: column;
          padding: 20px;
          gap: 20px;
          text-align: center;
     }

     #material1,
     #material2 {
          flex-direction: column;
          gap: 15px;
     }

     #material1 img,
     #material2 img {
          max-width: 150px;
          height: auto;
     }

     #material1 p,
     #material2 p {
          font-size: 16px;
     }

     #namemem {
          text-align: center;
          font-size: 28px;
     }

     #mem2 img {
          width: 100px;
          height: 130px;
     }

     h2 {
          font-size: 22px;
     }

     p {
          font-size: 16px;
     }
}